.myNav {
  background-color: #77f9d4 !important;
  height: 15vh;
}

.gal {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  column-gap: 1;
}
.gal img {
  width: 100%;
  padding: 7px 0;
}
@media (max-width: 500px) {
  .gal {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
}

/* .imgContainer img {
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
} */
img:hover{
    transition: .1s ease-in;
    transform: scale(1.2);
}

footer {
  background-color: #77f9d4 !important;
  height: 15vh;
}
