.myNav {
  background-color: #77f9d4 !important;
  height: 15vh;
}

.carousel-image {
  width: 100%;
  height: 70vh;
}

/* Cards and their Images */

.description-text {
  font-size: 1.1vw;
  line-height: 0.9rem;
  margin-bottom: 0 !important;
}
.card {
  /* max-height: 30vh!important; */
  min-height: 30vh !important;
  flex-direction: row !important;
}

/* image container */
.imgContainer {
  max-height: 100% !important;
  min-height: 30vh !important;
  max-width: 50% !important;
}
.imgContainer > img {
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}
.card-body {
  max-width: 50% !important;
  position: relative !important;
  padding-bottom: 0;
}

.price {
  position: absolute;
  bottom: 0 !important;
  font-size: 0.8rem;
}
p {
  margin-bottom: 0 !important;
  font-size: 1rem;
}

/* ------------ MediaQueries -----------  */

/* For Extra Large Screens  */
@media (min-width: 1200px) {
  .description-text {
    font-size: 1.1rem;
    line-height: 1rem;
  }
}

/* For Large Screens */
@media (min-width: 992px) and (max-width: 1200px) {
  h5 {
    font-size: 1rem;
  }
}

/* For Medium Size Screens  */

@media (min-width: 768px) and (max-width: 992px) {
  h5 {
    font-size: 1rem;
  }
}

/* For Small Screens  */

@media (min-width: 576px) and (max-width: 768px) {
  .description-text {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

/* For  extra Small Screens  */

@media (max-width: 576px) {
  .description-text {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}
