footer,
.myNav {
  background-color: #77f9d4 !important;
  height: 15%;
}
.myNav span {
  font-size: 2.5vw;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  background: #eeeeee;
  font-family: "Roboto", sans-serif;
}
.card {
  border: none;
}

.user-content p {
  margin-top: 5px;
  font-size: 12px;
}

.ratings i {
  color: blue;
}
